.user-table-container {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-table-container h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

table{
  border: 1px solid #ccc;
}

.user-table td {
  padding: 14px 16px;
  text-align: left;
  font-size: 13px;
  color: #555;
  border: none;
  vertical-align: baseline;
}

.user-table th {
  background-color: #f1f5f9;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.user-table tbody tr:hover {
  background-color: #f9fafb;
}

.popup-message {
  font-size: 14px;
  max-width: 200px;
  word-wrap: break-word;
}
